fastapi
uvicorn
paddleocr
paddlepaddle
faster-whisper
python-multipart
pillow
opencv-python-headless
numpy
requests
sentence-transformers
psycopg2-binary

opencv-python-headless==4.7.0.72
opencv-python==none
